<div class="featured-card">
    <div class="featured-card-image">
        <img id="product-image" src="../img/yesh.jpg" alt="Product Image">
    </div>
    <div class="featured-card-details">
        <h3 class="product-title">8002 HEAVYWEIGHT TEE</h3>
        <p class="product-price">$70</p>
        <div class="color-options">
            <div class="color-box black" data-color="black"></div>
            <div class="color-box olive" data-color="olive"></div>
            <div class="color-box grey" data-color="grey"></div>
            <div class="color-box brown" data-color="brown"></div>
        </div>
    </div>
</div> 