<header>
    <nav class="transparent-nav">
        <div class="logo">
            <a href="/"><span class="un">un</span><span class="comfort">comfort.</span></a>
        </div>
        <ul class="nav-links">
            <li><a href="pages/shop.html">shop</a></li>
            <li><a href="pages/lookbook.html">lookbook</a></li>
            <li><a href="pages/currency.html">$aud</a></li>
            <li><a href="pages/cart.html">cart</a></li>
            <li><a href="pages/login.html">login</a></li>
        </ul>
    </nav>
</header>